<footer class="site-footer">
    <div class="container footer-inner">

        <div class="footer-brand">
            <a href="/" class="logo">
                <img src="/assets/logo.png" alt="Through Northumberland" class="logo-image">

                <span>through</span>
                <strong>northumberland</strong>
            </a>

            <p>
                A modern guide to discovering Northumberland.
            </p>
        </div>

<div class="footer-links">
    <a href="/explore/">Explore</a>
    <a href="/explore/?category=harbours-coast,villages-towns,castles-history,nature-wildlife">Places</a>
    <a href="/explore/?category=food-drink">Food &amp; Drink</a>
    <a href="/explore/?category=places-to-stay">Stay</a>
</div>

    </div>

    <div class="container footer-bottom">
        <p>&copy; 2026 Through Northumberland</p>
    </div>
</footer>