<header class="site-header">
    <div class="container header-inner">

        <a href="/" class="logo">
            <img src="/assets/logo.png" alt="Through Northumberland" class="logo-image">

            <span>through</span>
            <strong>northumberland</strong>
        </a>

        <nav class="main-nav">
            <a href="/">Explore</a>
            <a href="/places/">Places</a>
            <a href="#">Food &amp; Drink</a>
            <a href="#">Stay</a>
        </nav>

    </div>
</header>